@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #070D0B;
    --foreground: #F1EDE4;
  }
}

/* -------------------------------------------- */
/*------------------ scrollbar */
/* -------------------------------------------- */

/* Firefox */
html {
  scrollbar-width: thin; /* Options: auto, thin, none */
  scrollbar-color:  mediumspringgreen transparent; /* thumb and track colors */
}

::-webkit-scrollbar {
  width: 1px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  /* display: none; */
  width: 1px;
  border-radius: 1rem;
  /* background: rgba(220, 146, 73, 1); */
  transition: all 0.5s ease-in-out;
  background: #90050F;
}

::-webkit-scrollbar-thumb:hover {
  background: #90050F;
}

::-webkit-scrollbar-track {
  background: mediumspringgreen;
} 
/* This will hide the scrollbar for Chrome, Safari, etc. */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* This will hide the scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}

.bord {
  border: 1px solid saddlebrown;
}

html,body {
  color: var(--foreground);
  scroll-behavior: auto;
  scroll-snap-type: y mandatory;
  /* height: 100vh; */
  overflow-y: scroll;
}
  section {
    margin-bottom: 100px;
    /* border:1px solid saddlebrown; */
    height: 100vh;
    scroll-snap-align: center;
  }

h1 {
  background: linear-gradient(to left, #FCD0A1, #AFD2E9);
  background-clip: text;
  color: transparent;
}
@property --angle {
  syntax:"<angle>";
  initial-value:0deg;
  inherits: false;
}

.card-off::before {
  filter:blur(1.5rem);
  opacity: 0.4;
}
.card-off::after, .card::before {
  content:'';
  position: absolute;
  height: 100%;
  width: 100%;
  background: #63BB93 ;
  /* background-image: conic-gradient(from var(--angle),transparent 10%,#0e79b2); */
  top:50%;
  left:50%;
  opacity: 0.2;
  transform: translate(-50%, -50%);
  z-index: -1;
  box-sizing: initial;
  border-radius: 8px;
  padding:2px;
  animation:4s spin linear infinite;
}
.card::before {
  filter:blur(0.5rem);
  opacity: 0.4;
}
.card::after, .card::before {
  content:'';
  position: absolute;
  height: 100%;
  width: 100%;
  /* background: red; */
  background: #0e79b2;
  /* background-image: conic-gradient(from var(--angle),transparent 10%,#0e79b2); */
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  box-sizing: initial;
  border-radius: 8px;
  padding:2px;
  animation:4s spin linear infinite;
}

.skill-card{
box-shadow: 6px 6px 22px #c8ecdf0f inset,-5px -5px 10px #33574a32 inset;
/* backdrop-filter: blur(2px); */


}
/* https://coolors.co/7cfef0-6bffb8-2ceaa3-28965a-2a6041 */
@keyframes spin {
  from {
    --angle: 0deg
    
  }
  to {
    --angle: 360deg

  }
}

  .hero-image2 {
        filter: sepia(20%);

  }
  /* .hero-image {
        filter: blur(10px);

  } */
   



  /* .hero-image2:hover {
    filter: blur(5%);
    cursor: pointer;
  } */





@media only screen and (max-width: 768px) {

  .hero-image {
        background-position: 10% 0%;
        
  }

  section {
    margin-bottom: 100px;
    min-height: max-content;
  }
}


@media only screen and (max-width: 480px) {

 h1 {
  font-size: 28px;
 }

  section {
    margin-bottom: 100px;
    min-height: max-content;
  }
}